// Partials
@import "partials/setup";
@import "partials/utils";
@import "partials/typography";

// Components
@import "components/header";
@import "components/portfolio";
@import "components/skills";
@import "components/contact";
@import "components/thankyou";
@import "components/footer";


// Global
html {
    font-size: 62.5%;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

svg { max-height: 100%; }

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 820px) {
    .wrapper {
        width: 70%;
    }
}