$roundFont: 'Roboto', sans-serif;
$longFont: 'Roboto Condensed', sans-serif;

body {
    @include fontSize(16);
    letter-spacing: 0.1rem;
    font-family: $roundFont;
}

h2 {
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 700;
    color: #777;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 70px;
    display: inline-block;
}

h3 {
    @include fontSize(30);
    margin-bottom: 10px;
    color: black;
}

h4 {
    @include fontSize(15);
    font-family: $longFont;
    margin-bottom: 0;
    font-weight: 700;
    font-style: italic;
}

.project-desc {
    @include fontSize(14);
    margin-top: 10px;
}

@media (max-width: 600px) {
    h2 {
        font-size: 10vw;
    }
}