$roundFont: 'Roboto', sans-serif;
$longFont: 'Roboto Condensed', sans-serif;
@font-face {
    font-family: 'neontubes';
    src: url('https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot');
    src: url('https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2') format('woff2'),
         url('https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff') format('woff'),
         url('https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    @include fontSize(16);
    letter-spacing: 0.1rem;
    font-family: $roundFont;
}

h2 {
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 700;
    color: #777;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 70px;
    display: inline-block;
}

h3 {
    @include fontSize(30);
    margin-bottom: 10px;
    color: black;
}

h4 {
    @include fontSize(15);
    font-family: $longFont;
    margin-bottom: 0;
    font-weight: 700;
    font-style: italic;
}

.project-desc {
    @include fontSize(14);
    margin-top: 10px;
}

@media (max-width: 600px) {
    h2 {
        font-size: 10vw;
    }
}