article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: 01C 01D 018 019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes stroke {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800; }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1800; }
  90% {
    fill: rgba(255, 255, 255, 0); }
  95% {
    fill: rgba(255, 255, 255, 0.5); }
  98% {
    fill: rgba(255, 255, 255, 0.8); }
  100% {
    opacity: 10;
    fill: white;
    stroke-dashoffset: 0; } }

@keyframes stroke {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800; }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1800; }
  90% {
    fill: rgba(255, 255, 255, 0); }
  95% {
    fill: rgba(255, 255, 255, 0.5); }
  98% {
    fill: rgba(255, 255, 255, 0.8); }
  100% {
    opacity: 10;
    fill: white;
    stroke-dashoffset: 0; } }

@-webkit-keyframes show-info {
  0% {
    -webkit-transform: rotateY(120deg);
            transform: rotateY(120deg); }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); } }

@keyframes show-info {
  0% {
    -webkit-transform: rotateY(120deg);
            transform: rotateY(120deg); }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); } }

@-webkit-keyframes show {
  0% {
    margin-top: -270px; }
  5% {
    margin-top: -180px; }
  33% {
    margin-top: -180px; }
  38% {
    margin-top: -90px; }
  66% {
    margin-top: -90px; }
  71% {
    margin-top: 0px; }
  99.99% {
    margin-top: 0px; }
  100% {
    margin-top: -270px; } }

@keyframes show {
  0% {
    margin-top: -270px; }
  5% {
    margin-top: -180px; }
  33% {
    margin-top: -180px; }
  38% {
    margin-top: -90px; }
  66% {
    margin-top: -90px; }
  71% {
    margin-top: 0px; }
  99.99% {
    margin-top: 0px; }
  100% {
    margin-top: -270px; } }

@-webkit-keyframes scroll-icon {
  0% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 0; }
  30%, 70% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0; } }

@keyframes scroll-icon {
  0% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 0; }
  30%, 70% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0; } }

@-webkit-keyframes chevron {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes chevron {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

body {
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-family: "Roboto", sans-serif; }

h2 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 700;
  color: #777;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 70px;
  display: inline-block; }

h3 {
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 10px;
  color: black; }

h4 {
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 0;
  font-weight: 700;
  font-style: italic; }

.project-desc {
  font-size: 14px;
  font-size: 1.4rem;
  margin-top: 10px; }

@media (max-width: 600px) {
  h2 {
    font-size: 10vw; } }

header {
  height: 100vh;
  position: relative;
  color: white;
  background: #f0b5d5;
  background: linear-gradient(328deg, #f0b5d5 0%, #98cddf 100%); }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
  header .background-overlay {
    background-color: rgba(0, 0, 0, 0.13);
    height: 100vh;
    width: 50vw;
    position: absolute;
    top: 0;
    right: 0; }
  header .social-icons {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 36vh;
    z-index: 100;
    right: 250px;
    width: 300px; }
    header .social-icons .fab {
      color: white;
      font-size: 25px;
      font-size: 2.5rem;
      z-index: 100; }
    header .social-icons .fa-github:hover {
      color: #333; }
    header .social-icons .fa-twitter:hover {
      color: #4C9FEB; }
    header .social-icons .fa-instagram:hover {
      color: #B83788; }
    header .social-icons .fa-linkedin-in:hover {
      color: #3071AC; }
    header .social-icons .fa-medium-m:hover {
      color: #52B57B; }
  header label .menu {
    position: fixed;
    z-index: 100;
    top: 40px;
    right: 15vw;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
            box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer; }
  header label .hamburger {
    position: absolute;
    top: 30px;
    left: 17px;
    width: 26px;
    height: 2px;
    background: #abadd6;
    display: block;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out; }
    header label .hamburger:after, header label .hamburger:before {
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%; }
    header label .hamburger:before {
      top: -8px;
      left: 4px;
      width: 18px;
      background: #7dc2e0; }
    header label .hamburger:after {
      bottom: -8px;
      left: 4px;
      width: 18px;
      background: #cb9ace; }
  header label input {
    display: none; }
  header label .menu:hover {
    -webkit-box-shadow: 0 0 0 1.5vw #FFF, 0 0 0 1.5vh #FFF;
            box-shadow: 0 0 0 1.5vw #FFF, 0 0 0 1.5vh #FFF; }
    header label .menu:hover .hamburger:after {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      width: 26px;
      left: -4px;
      bottom: 0; }
    header label .menu:hover .hamburger:before {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      width: 26px;
      left: 5px;
      top: 0; }
  header label input:checked + .menu {
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
            box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0; }
    header label input:checked + .menu .hamburger {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
      header label input:checked + .menu .hamburger:after {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        width: 26px;
        left: -4px;
        bottom: 0; }
      header label input:checked + .menu .hamburger:before {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        width: 26px;
        left: 5px;
        top: 0; }
  header label input:checked + .menu + nav {
    opacity: 1;
    z-index: 200; }
  header label nav {
    z-index: 0;
    list-style: none;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out; }
  header label a {
    margin-bottom: 1em;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-size: 3rem;
    font-weight: 700;
    background: #f0b5d5;
    background: linear-gradient(328deg, #bf8dc1 0%, #84b0d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dac492",endColorstr="#9fc6c7",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none; }
  header .st0 {
    stroke: #fff;
    fill: #fff;
    stroke-dasharray: 1800;
    opacity: 10;
    -webkit-animation: stroke 3s cubic-bezier(0, 0.23, 1, 0.1);
            animation: stroke 3s cubic-bezier(0, 0.23, 1, 0.1); }
  header .name {
    width: 60vw;
    max-width: 700px;
    z-index: 2;
    min-width: 280px; }
  header #floatdots-container {
    background: transparent;
    position: absolute;
    left: 48%;
    top: 20%;
    overflow: hidden;
    z-index: 10; }
    header #floatdots-container canvas {
      -webkit-transform: scale(1.75, 1.75);
              transform: scale(1.75, 1.75); }
  header #flip-container {
    color: #999;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    display: block;
    z-index: 5;
    text-align: left;
    position: relative;
    left: -10vw;
    top: -25px; }
    header #flip-container .tagline {
      z-index: 2;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 400;
      font-size: 32px;
      font-size: 3.2rem;
      position: relative; }
    header #flip-container #flip {
      height: 50px;
      overflow: hidden;
      position: relative; }
    header #flip-container #flip > div > div {
      color: #fff;
      padding: 4px 12px;
      height: 45px;
      margin-bottom: 45px;
      display: inline-block; }
    header #flip-container #flip div:first-child {
      -webkit-animation: show 7s linear;
              animation: show 7s linear;
      -webkit-animation-delay: 3.5s;
              animation-delay: 3.5s; }
  header .scroll-down-icon {
    position: absolute;
    left: 50%;
    bottom: 7%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 20; }
    header .scroll-down-icon:hover .down-arrow1 {
      -webkit-animation: chevron 2.5s infinite;
              animation: chevron 2.5s infinite;
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    header .scroll-down-icon:hover .down-arrow2 {
      -webkit-animation: chevron 2.5s infinite;
              animation: chevron 2.5s infinite;
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    header .scroll-down-icon .down-arrow1 {
      position: relative;
      top: 5px;
      height: 30px;
      width: 30px; }
    header .scroll-down-icon .down-arrow2 {
      position: relative;
      top: -10px;
      height: 30px;
      width: 30px; }
    header .scroll-down-icon .scroll-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 2em;
      width: 1.2em;
      font-size: 22px;
      font-size: 2.2rem;
      color: rgba(255, 255, 255, 0.5);
      border-radius: 2em;
      border: solid 3px;
      -webkit-transition: .4s;
      transition: .4s; }
    header .scroll-down-icon .scroll-icon:hover {
      background-color: rgba(255, 255, 255, 0.05);
      color: #fff; }
    header .scroll-down-icon .scroll-icon::after {
      content: '';
      width: 5px;
      height: 5px;
      background-color: #fff;
      border-radius: 50%;
      -webkit-animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
              animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1); }

@media (max-width: 1400px) {
  header label .menu {
    right: 6vw; } }

@media (max-width: 1080px) {
  header label .menu {
    right: 5vw; }
  header #flip-container {
    left: -12vw; }
    header #flip-container .tagline {
      font-size: 28px;
      font-size: 2.8rem; } }

@media (max-width: 830px) {
  header .social-icons {
    right: 1%;
    top: 30vh; }
  header #flip-container {
    left: -13vw; }
    header #flip-container .tagline {
      font-size: 24px;
      font-size: 2.4rem; }
  header #floatdots-container {
    left: 35%; }
    header #floatdots-container canvas {
      -webkit-transform: scale(1.55, 1.55);
              transform: scale(1.55, 1.55);
      height: 400px;
      width: 400px; } }

@media (max-width: 650px) {
  header #flip-container {
    margin: 0 auto;
    position: static;
    text-align: center; } }

@media (max-width: 400px) {
  header #flip-container .tagline {
    z-index: 2;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-size: 2rem;
    position: relative; }
  header #flip-container #flip {
    height: 80px;
    overflow: hidden;
    position: relative; }
  header #flip-container #flip > div > div {
    color: #fff;
    padding: 4px 12px;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block; }
  header #flip-container #flip div:first-child {
    -webkit-animation: show 7s linear;
            animation: show 7s linear;
    -webkit-animation-delay: 3.5s;
            animation-delay: 3.5s; } }

.portfolio {
  height: 100%; }
  .portfolio .section-title {
    color: white;
    text-shadow: -6px 6px 0px rgba(240, 181, 213, 0.7), -12px 12px 0px rgba(198, 194, 216, 0.7);
    -webkit-text-stroke: 0.5px #f0b5d5;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in; }
    .portfolio .section-title:hover {
      text-shadow: 0px 0px 0px rgba(240, 181, 213, 0.7), 0px 0px 0px rgba(198, 194, 216, 0.7);
      -webkit-text-stroke: 1px #f0b5d5; }

.projects {
  margin: 0;
  padding: 0; }

.project {
  height: 460px;
  position: relative;
  margin: 100px 0 120px; }
  .project .project-pic,
  .project .device-pic,
  .project .dots-pic,
  .project .project-description-container {
    position: absolute; }

.horizontal-line {
  display: block;
  width: 475px;
  border-top: 1px solid #333;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.project-description-container {
  top: 220px; }

.project-desc {
  width: 400px; }

.dots-pic {
  width: 43.75%; }

.project-pic {
  width: 40.63%;
  border: 7px solid #fff; }

.device-pic {
  width: 62.5%; }
  .device-pic .overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .device-pic .overlay a {
      color: white;
      margin: 10px;
      padding: 10px;
      border: 2px solid white;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .device-pic .overlay a:hover, .device-pic .overlay a:focus {
        -webkit-box-shadow: inset 12em 0 0 0 white;
                box-shadow: inset 12em 0 0 0 white;
        color: #777; }

.project-pic-container {
  position: relative;
  width: 800px; }
  .project-pic-container:hover {
    cursor: pointer; }
  .project-pic-container:hover .overlay {
    opacity: 1; }

.phrasebook {
  margin-top: 50px; }
  .phrasebook .device-pic {
    left: 40px;
    top: 60px; }
  .phrasebook .project-pic {
    right: 38px;
    top: -45px; }
  .phrasebook .project-description-container {
    top: 220px;
    right: 0; }
    .phrasebook .project-description-container .horizontal-line {
      right: 0; }
    .phrasebook .project-description-container .project-name {
      text-align: right; }
    .phrasebook .project-description-container .project-desc {
      text-align: right; }
    .phrasebook .project-description-container h4 {
      text-align: right; }

.juicy-jostle {
  margin-bottom: 180px; }
  .juicy-jostle .project-pic-container {
    float: right; }
  .juicy-jostle .device-pic {
    right: -40px;
    top: -60px;
    width: 53.75%; }
  .juicy-jostle .project-pic {
    width: 37.5%;
    right: 180px;
    top: 240px; }
  .juicy-jostle .dots-pic {
    left: 140px; }

.beer-bible {
  margin-bottom: 150px; }
  .beer-bible .device-pic {
    width: 58.75%;
    left: -30px; }
  .beer-bible .project-pic {
    width: 43.75%x;
    left: 370px;
    top: -50px; }
  .beer-bible .dots-pic {
    top: 150px;
    left: 200px; }
  .beer-bible .project-description-container {
    top: 220px;
    right: 0; }
    .beer-bible .project-description-container .horizontal-line {
      right: 0; }
    .beer-bible .project-description-container .project-name {
      text-align: right; }
    .beer-bible .project-description-container .project-desc {
      text-align: right;
      float: right; }
    .beer-bible .project-description-container h4 {
      text-align: right; }

.initidate {
  margin-bottom: 180px; }
  .initidate .project-pic-container {
    float: right; }
  .initidate .device-pic {
    right: 40px;
    top: 130px;
    width: 62.5%; }
  .initidate .project-pic {
    width: 31.25%;
    right: -20px;
    top: 0; }
  .initidate .dots-pic {
    left: 200px;
    top: -50px; }

.sunshine .device-pic {
  left: -10px;
  top: 60px; }

.sunshine .project-pic {
  right: 38px;
  top: -30x; }

.sunshine .dots-pic {
  top: -55px;
  left: 105px; }

.sunshine .project-description-container {
  top: 220px;
  right: 0; }
  .sunshine .project-description-container .horizontal-line {
    right: 0; }
  .sunshine .project-description-container .project-name {
    text-align: right; }
  .sunshine .project-description-container .project-desc {
    text-align: right;
    float: right; }
  .sunshine .project-description-container h4 {
    text-align: right; }

@media (max-width: 1200px) {
  .horizontal-line {
    width: 410px; }
  .project-description-container h4 {
    width: 400px; } }

@media (max-width: 1040px) {
  .horizontal-line {
    width: 330px; }
  .project-description-container h4 {
    width: 280px; }
  .project-description-container .project-desc {
    width: 280px; }
  .beer-bible h4,
  .sunshine h4,
  .phrasebook h4 {
    position: relative; } }

@media (max-width: 900px) {
  .horizontal-line {
    width: 200px; }
  .project-description-container h4 {
    width: 240px; }
  .project-description-container .project-desc {
    width: 240px; }
  .project-pic-container {
    width: 100%; }
  .phrasebook .project-description-container {
    top: 180px; }
  .juicy-jostle .device-pic {
    right: -40px;
    top: -30px; }
  .juicy-jostle .project-pic {
    right: 120px;
    top: 200px; }
  .juicy-jostle .dots-pic {
    left: 140px;
    top: -20px; }
  .juicy-jostle .project-description-container h4 {
    width: 230px; }
  .beer-bible {
    margin-bottom: 120px; }
    .beer-bible .project-pic {
      left: 250px;
      top: -50px; }
    .beer-bible .dots-pic {
      top: 120px;
      left: 100px; }
    .beer-bible .project-description-container {
      top: 150px;
      right: 0; }
  .initidate {
    margin-bottom: 120px; }
    .initidate .project-pic-container {
      float: right; }
    .initidate .device-pic {
      right: 40px;
      top: 130px;
      width: 62.5%; }
    .initidate .project-pic {
      width: 31.25%;
      right: -20px;
      top: 35px; }
    .initidate .dots-pic {
      left: 200px;
      top: -10px; }
    .initidate .project-description-container {
      top: 160px; }
  .sunshine .project-description-container {
    top: 170px; } }

@media (max-width: 700px) {
  h2 {
    margin-bottom: 40px; }
  .project {
    margin: 50px 0 60px;
    height: 350px; }
  .project-pic {
    display: none; }
  .project-pic-container {
    width: 100%; }
  .project-description-container h4 {
    width: 100%; }
  .project-description-container .project-desc {
    width: 100%; }
  .phrasebook .device-pic {
    left: 40px;
    top: 10px;
    width: 70%; }
  .phrasebook .project-description-container {
    top: 160px; }
  .juicy-jostle .dots-pic {
    left: 20px; }
  .juicy-jostle .project-description-container {
    top: 120px; }
  .juicy-jostle .device-pic {
    width: 70%; }
  .beer-bible .dots-pic {
    top: 50px;
    left: 180px; }
  .beer-bible .device-pic {
    width: 70%; }
  .beer-bible .project-description-container {
    top: 170px; }
  .initidate .device-pic {
    top: 30px;
    width: 70%; }
  .initidate .project-description-container {
    top: 150px; }
  .sunshine .dots-pic {
    top: 0; }
  .sunshine .device-pic {
    top: 35px;
    width: 70%; }
  .sunshine .project-description-container {
    top: 180px; } }

@media (max-width: 600px) {
  .portfolio .section-title {
    color: white;
    text-shadow: -4px 4px 0px rgba(240, 181, 213, 0.7), -8px 8px 0px rgba(198, 194, 216, 0.7);
    -webkit-text-stroke: 1px #f0b5d5; } }

@media (max-width: 450px) {
  .project {
    margin: 50px 0 60px;
    height: 450px; }
  .phrasebook .device-pic {
    width: 90%; }
  .phrasebook .dots-pic {
    width: 70%; }
  .juicy-jostle .dots-pic {
    left: 20px;
    width: 70%; }
  .juicy-jostle .project-description-container {
    top: 120px; }
  .juicy-jostle .device-pic {
    width: 90%; }
  .beer-bible .dots-pic {
    top: 20px;
    left: 100px;
    width: 70%; }
  .beer-bible .device-pic {
    width: 95%;
    top: -40px; }
  .beer-bible .project-description-container {
    top: 140px; }
  .initidate .device-pic {
    top: 30px;
    width: 90%; }
  .initidate .dots-pic {
    width: 70%;
    left: 70px; }
  .initidate .project-description-container {
    top: 150px; }
  .sunshine .dots-pic {
    top: -50px;
    width: 70%; }
  .sunshine .device-pic {
    top: 10px;
    width: 90%; }
  .sunshine .project-description-container {
    top: 160px; } }

.skills-title {
  display: block;
  margin: 0 auto 20px;
  padding-top: 0;
  color: white;
  text-shadow: -6px 6px 0px rgba(198, 194, 216, 0.7), -12px 12px 0px rgba(152, 205, 223, 0.7);
  -webkit-text-stroke: 0.5px #c6c2d8;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }
  .skills-title:hover {
    text-shadow: 0px 0px 0px rgba(152, 205, 223, 0.7), 0px 0px 0px rgba(198, 194, 216, 0.7);
    -webkit-text-stroke: 1px #c6c2d8; }

.skills {
  grid-area: skills;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
  background: #f0b5d5;
  background: linear-gradient(328deg, #f0b5d5 0%, #98cddf 100%); }

.skills-list {
  width: 100%;
  display: grid;
  color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 8% 0; }
  .skills-list span {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .skills-list span .firebase {
      width: 60px;
      height: 60px;
      margin-left: 10px; }

.skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .skill-item span {
    font-size: 5.4rem;
    color: white; }

@media (max-width: 900px) {
  .skills-list {
    margin: 15% 10%; } }

@media (max-width: 650px) {
  .skills-list {
    grid-template-columns: 1fr 1fr 1fr; }
  .skills-list li:last-child {
    display: none; }
  .skills-title {
    text-shadow: -4px 4px 0px rgba(198, 194, 216, 0.7), -8px 8px 0px rgba(152, 205, 223, 0.7);
    -webkit-text-stroke: 1px #c6c2d8; } }

@media (max-width: 450px) {
  .skills-list {
    grid-template-columns: 1fr 1fr; }
  .skills-list li:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .skills-list {
    grid-gap: 10px; }
  .skill-item {
    margin: 20px 0; }
    .skill-item span {
      font-size: 4.3rem; } }

.about-title {
  color: white;
  display: block;
  text-align: right;
  padding-top: 10px;
  text-shadow: 6px 6px 0px rgba(152, 205, 223, 0.7), 12px 12px 0px rgba(198, 194, 216, 0.7);
  -webkit-text-stroke: 0.5px #98cddf;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }
  .about-title:hover {
    text-shadow: 0px 0px 0px rgba(152, 205, 223, 0.7), 0px 0px 0px rgba(198, 194, 216, 0.7);
    -webkit-text-stroke: 1px #98cddf; }

.about {
  grid-area: about;
  height: 100%; }
  .about .picture-container {
    width: 40%;
    float: right;
    position: relative; }
    .about .picture-container * {
      position: absolute; }
    .about .picture-container .face-pic {
      right: 50%;
      top: 0px;
      width: 65%; }
    .about .picture-container .dots-pic {
      width: 100%;
      top: -20px;
      left: -100px; }
  .about .about-icons {
    margin: 0 auto 0;
    text-align: left;
    padding-top: 6%;
    width: 80%; }
    .about .about-icons .about-icon {
      margin: 30px 0;
      margin-left: 15%;
      font-size: 2.6rem;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      color: #9aabd1; }
      .about .about-icons .about-icon i {
        margin-right: 10px;
        color: #c6c2d8; }
  .about .about-desc {
    padding: 30px 0 20px 30px;
    width: 75%;
    margin: 0 auto; }
    .about .about-desc .fas {
      color: #F6CF47;
      font-size: 2rem; }
    .about .about-desc span {
      font-weight: 700;
      color: #4261b7; }
    .about .about-desc .hi {
      color: black;
      font-size: 22px;
      font-size: 2.2rem; }
    .about .about-desc .ruby {
      color: #A93637; }
    .about .about-desc .python {
      color: #44709F; }
    .about .about-desc .desc-here {
      font-weight: 700;
      color: #4261b7;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      .about .about-desc .desc-here:hover {
        text-shadow: 1px 1px 0px rgba(152, 205, 223, 0.7), 2px 2px 0px rgba(198, 194, 216, 0.7); }

@media (max-width: 900px) {
  .about .picture-container {
    width: 70%; }
    .about .picture-container .face-pic {
      right: 100px;
      top: 0px;
      width: 45%; }
    .about .picture-container .dots-pic {
      width: 60%;
      top: 0px;
      left: 25%; }
  .about .about-icons {
    margin: 50px auto 0;
    text-align: left;
    top: 0;
    width: 100%; }
    .about .about-icons .about-icon {
      margin-left: 6%; }
  .about .about-desc {
    padding: 10px 0 80px 0px;
    width: 90%; } }

@media (max-width: 650px) {
  .about-title {
    width: 97%;
    text-shadow: 4px 4px 0px rgba(152, 205, 223, 0.7), 8px 8px 0px rgba(198, 194, 216, 0.7);
    -webkit-text-stroke: 1px #98cddf; }
  .about .picture-container {
    width: 80%; }
    .about .picture-container .face-pic {
      right: 50px;
      top: 0px;
      width: 45%; }
    .about .picture-container .dots-pic {
      width: 60%;
      top: -20px;
      left: 25%; }
  .about .about-icons {
    margin: 0;
    padding: 0;
    top: 0; }
    .about .about-icons .about-icon {
      font-size: 20px;
      font-size: 2rem;
      margin: 30px 0;
      margin-left: 5%; }
  .about .about-desc {
    width: 100%;
    padding: 50px 0 80px 0px; } }

@media (max-width: 450px) {
  .about-title {
    width: 93%; }
  .about .picture-container {
    width: 95%; }
    .about .picture-container .face-pic {
      right: 20px; }
  .about .about-desc {
    padding: 20px 0 80px 0px; }
  .about .about-icons .about-icon {
    font-size: 15px;
    font-size: 1.5rem;
    margin: 30px 0; } }

.contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.contact-title {
  margin-top: 60px;
  color: white;
  width: 50%;
  text-shadow: -6px 6px 0px rgba(198, 194, 216, 0.7), -12px 12px 0px rgba(240, 181, 213, 0.7);
  -webkit-text-stroke: 0.5px #c6c2d8;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }
  .contact-title:hover {
    text-shadow: 0px 0px 0px rgba(240, 181, 213, 0.7), 0px 0px 0px rgba(198, 194, 216, 0.7);
    -webkit-text-stroke: 1px #c6c2d8; }

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 25px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.fab {
  font-size: 35px;
  font-size: 3.5rem;
  color: #888;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.fa-github:hover {
  color: #333; }

.fa-twitter:hover {
  color: #4C9FEB; }

.fa-instagram:hover {
  color: #B83788; }

.fa-linkedin-in:hover {
  color: #3071AC; }

.fa-medium-m:hover {
  color: #52B57B; }

.contact {
  height: 100%;
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0b5d5;
  background: linear-gradient(328deg, #f0b5d5 0%, #98cddf 100%); }
  .contact .background-overlay {
    background-color: rgba(0, 0, 0, 0.12);
    height: 100%;
    width: 50vw;
    position: absolute;
    top: 0;
    left: 0; }

.contact-form {
  width: calc(100%);
  margin-top: 60px;
  margin-bottom: 60px; }
  .contact-form * {
    border: none; }
  .contact-form .mailto {
    color: white;
    font-size: 28px;
    font-size: 2.8rem;
    font-weight: 700;
    display: block;
    margin-bottom: 30px; }
    .contact-form .mailto:hover {
      color: rgba(255, 255, 255, 0.7); }
  .contact-form .name,
  .contact-form .email {
    width: 50%; }
  .contact-form .name {
    padding-right: 25px; }
  .contact-form .email {
    padding-left: 25px; }
  .contact-form .name-email-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .contact-form .msg {
    width: 100%;
    margin-top: 20px; }
  .contact-form input,
  .contact-form textarea {
    background: transparent;
    margin-top: 10px;
    border-bottom: 2px solid white;
    font-size: 20px;
    font-size: 2rem;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    outline: none; }
    .contact-form input::-webkit-input-placeholder,
    .contact-form textarea::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    .contact-form input:-ms-input-placeholder,
    .contact-form textarea:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    .contact-form input::-ms-input-placeholder,
    .contact-form textarea::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    .contact-form input::placeholder,
    .contact-form textarea::placeholder {
      color: rgba(255, 255, 255, 0.7); }
    .contact-form input:focus,
    .contact-form textarea:focus {
      outline: none;
      background-color: rgba(255, 255, 255, 0.9); }
      .contact-form input:focus::-webkit-input-placeholder,
      .contact-form textarea:focus::-webkit-input-placeholder {
        color: black; }
  .contact-form .send {
    margin-top: 20px;
    background-color: #fff;
    width: 30%;
    float: right; }
  .contact-form .send-button {
    width: 100%;
    padding: 10px 15px 15px;
    color: white;
    background: #f0b5d5;
    background: linear-gradient(328deg, #bf8dc1 0%, #84b0d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dac492",endColorstr="#9fc6c7",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .contact-form .send-button:hover {
      -webkit-text-fill-color: black; }
  .contact-form textarea {
    resize: none; }
  .contact-form label {
    font-size: 24px;
    font-size: 2.4rem;
    margin-top: 20px;
    font-family: "Roboto Condensed", sans-serif; }
  .contact-form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

@media (max-width: 600px) {
  .contact-title {
    margin-top: 20px;
    text-shadow: -4px 4px 0px rgba(198, 194, 216, 0.7), -8px 8px 0px rgba(240, 181, 213, 0.7);
    -webkit-text-stroke: 1px #c6c2d8; }
  .contact-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .contact-title {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0; }
  .social-icons {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .fab {
    font-size: 25px;
    font-size: 2.5rem;
    color: #888;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .contact-form .name-email-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contact-form .name,
  .contact-form .email {
    width: 100%;
    padding-left: 0;
    padding-right: 0; } }

.thank-you {
  position: relative;
  color: white;
  background: #f0b5d5;
  background: linear-gradient(328deg, #f0b5d5 0%, #98cddf 100%);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .thank-you * {
    margin: 0; }
  .thank-you h1 {
    font-size: 6vw; }
  .thank-you h5 {
    color: white;
    font-size: 3.5vw;
    margin-top: 10px; }
  .thank-you .back-button {
    color: white;
    margin-top: 40px;
    border: 1px solid white;
    padding: 10px 20px;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .thank-you .back-button:hover {
      background-color: white;
      color: #333; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  footer p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

html {
  font-size: 62.5%; }

body {
  scroll-behavior: smooth;
  overflow-x: hidden; }

svg {
  max-height: 100%; }

img {
  width: 100%;
  display: block; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }

@media (max-width: 820px) {
  .wrapper {
    width: 70%; } }
