header {
    height: 100vh;
    position: relative;
    color: white;
    background: #c4c2d8;
    background: -moz-linear-gradient(328deg, rgba(152,215,234,1) 25%,  #f9c5e2 45%,  #c4c2d8 70%, rgba(152,215,234,1) 90%);
    background: -webkit-linear-gradient(328deg,rgba(152,215,234,1) 25%,  #f9c5e2, #c4c2d8 70%, rgba(152,215,234,1));
    background: linear-gradient(328deg, rgba(152,215,234,1) 10%,  #c9b3d8 50% , rgba(152,215,234,1) 95%);
    background-size: 400% 400%;
	animation: Gradient 12s ease infinite;

    .wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .background-overlay {
        background-color: rgba(0, 0, 0, 0.13);
        height: 100vh;
        width: 50vw;
        position: absolute;
        top: 0;
        right: 0;
    }

    // hamburger nav styles
    .social-icons {
        position: absolute;
        display: flex;
        top: 35vh;
        z-index: 100;
        right: 250px;
        width: 300px;

        .fab {
            color: white;
            @include fontSize(25);
            z-index: 100;
        }

        .fa-github:hover {
            color: #333;
        }

        .fa-twitter:hover {
            color: #4C9FEB;
        }

        .fa-instagram:hover {
            color: #B83788;
        }

        .fa-linkedin-in:hover{
            color: #3071AC;
        }

        .fa-medium-m:hover {
            color: #52B57B;
        }

    }

    label {
        .menu {
            position: fixed;
            z-index: 100;
            top: 40px;
            right: 15vw;
            width: 60px;
            height: 60px;
            background: white;
            border-radius: 50%;
            transition: .5s ease-in-out;
            box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
            cursor: pointer;

        }

        .hamburger {
            position: absolute;
            top: 30px;
            left: 17px;
            width: 26px;
            height: 2px;
            background: #abadd6;
            display: block;
            transform-origin: center;
            transition: .5s ease-in-out;

            &:after,
            &:before {
                transition: .5s ease-in-out;
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
            }
            &:before {
                top: -8px;
                left: 4px;
                width: 18px;
                background: #7dc2e0;
            }
            &:after {
                bottom: -8px;
                left: 4px;
                width: 18px;
                background: #cb9ace;
            }
        }

        input {
            display: none;
        }

        .menu:hover {
            box-shadow: 0 0 0 1.5vw #FFF, 0 0 0 1.5vh #FFF;

            .hamburger {
                &:after {
                    transform: rotate(90deg);
                    width: 26px;
                    left: -4px;
                    bottom: 0;
                }
                &:before {
                    transform: rotate(90deg);
                    width: 26px;
                    left: 5px;
                    top: 0;
                }
            }
        }

        input:checked + .menu {
            background-color: #fff;
            box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
            border-radius: 0;
            .hamburger {
            transform: rotate(45deg);
                &:after {
                    transform: rotate(90deg);
                    width: 26px;
                    left: -4px;
                    bottom: 0;
                }
                &:before {
                    transform: rotate(90deg);
                    width: 26px;
                    left: 5px;
                    top: 0;
                }
            }
        }

        input:checked + .menu + nav {
            opacity: 1;
            z-index: 200;
        }

        nav {
            z-index: 0;
            list-style: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;
            transition: .25s 0s ease-in-out;
        }

        a {
            margin-bottom: 1em;
            display: block;
            font-family: $roundFont;
            @include fontSize(30);
            font-weight: 700;
            background: rgb(240,181,213);
            background: linear-gradient(328deg, rgba(191,141,193,1) 0%, rgba(132,176,211,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dac492",endColorstr="#9fc6c7",GradientType=1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: none;
        }
    }

    // name drawing styles
    .st0 {
        stroke: #fff;
        fill: #fff;
        stroke-dasharray: 1800;
        opacity: 10;
        animation: stroke 3s cubic-bezier(0, 0.23, 1, 0.1);
    }

    .name {
        width: 60vw;
        max-width: 700px;
        z-index: 2;
        min-width: 280px;
    }

    // floating dots styles
    #floatdots-container {
        background: transparent;
        position: absolute;
        left: 48%;
        top: 20%;
        overflow: hidden;
        z-index: 10;

        canvas {
            transform: scale(1.75, 1.75);
        }
    }

    // tagline styles
    #flip-container {
        color:#999;
        text-transform: uppercase;
        font-size:36px;
        font-weight:bold;
        display:block;
        z-index: 5;
        text-align: left;
        position: relative;
        left: -10vw;
        top: -25px;

        .tagline {
            z-index: 2;
            font-family: $longFont;
            font-weight: 400;
            @include fontSize(32);
            position: relative;
        }

        #flip {
            height:50px;
            overflow: hidden;
            position: relative;
        }

        #flip > div > div {
            color:#fff;
            padding:4px 12px;
            height:45px;
            margin-bottom:45px;
            display:inline-block;
        }

        #flip div:first-child {
            animation: show 7s linear;
            animation-delay: 3.5s;
        }
    }

    // scrolldown icon styles
    .scroll-down-icon {
        position: absolute;
        left: 50%;
        bottom: 7%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 20;

        &:hover .down-arrow1{
            animation: chevron 2.5s infinite;
            animation-delay: 0.1s;
        }

        &:hover .down-arrow2 {
            animation: chevron 2.5s infinite;
            animation-delay: 0.5s;
        }

        .down-arrow1 {
            position: relative;
            top: 5px;
            height: 30px;
        width: 30px;
        }

        .down-arrow2 {
            position: relative;
            top: -10px;
            height: 30px;
            width: 30px;

        }

        .scroll-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2em;
            width: 1.2em;
            @include fontSize(22);
            color: rgba(#fff, .5);
            border-radius: 2em;
            border: solid 3px;
            transition: .4s;
        }

        .scroll-icon:hover {
            background-color: rgba(#fff, .05);
            color: #fff;
        }

        .scroll-icon::after {
            content: '';
            width: 5px;
            height: 5px;
            background-color: #fff;
            border-radius: 50%;
            animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
        }
    }
}

@media (max-width: 1400px) {
    header {
        label {
            .menu {
                right: 6vw;
            }
        }
    }
}

@media (max-width: 1080px) {
    header {
        label {
            .menu {
                right: 5vw;
            }
        }
        #flip-container {
            left: -12vw;

            .tagline {
                @include fontSize(28);
            }
        }
    }
}

@media (max-width: 830px) {
    header {
        .social-icons {
            right: 1%;
            top: 30vh;
        }

        #flip-container {
            left: -13vw;
            .tagline {
                @include fontSize(24);
            }
        }

        #floatdots-container {
            left: 35%;
            canvas {
                transform: scale(1.55, 1.55);
                height: 400px;
                width: 400px;
            }
        }
    }
}

@media (max-width: 650px) {
    header {
        #flip-container {
            margin: 0 auto;
            position: static;
            text-align: center;
        }

            // hamburger nav styles
        .social-icons {
            position: absolute;
            display: flex;
            width: 100%;
            right: 0;
            justify-content: space-around;
            align-items: center;

            .fab {
                color: white;
                @include fontSize(25);
                z-index: 100;
            }
        }
    }

}

@media(max-width: 400px) {
    header {
        #flip-container {
            .tagline {
                z-index: 2;
                font-family: $longFont;
                font-weight: 400;
                @include fontSize(20);
                position: relative;
            }

            #flip {
                height:80px;
                overflow: hidden;
                position: relative;
            }

            #flip > div > div {
                color:#fff;
                padding:4px 12px;
                height:45px;
                margin-bottom:45px;
                display:inline-block;
            }

            #flip div:first-child {
                animation: show 7s linear;
                animation-delay: 3.5s;
            }
        }
    }
}