
.portfolio {
    height: 100%;

    .section-title {
        color: white;
        text-shadow: -6px 6px 0px rgba(240,181,213,0.7),
                    -12px 12px 0px rgba(198, 194, 216, 0.7);
        -webkit-text-stroke: 0.5px rgba(240,181,213,1);
        transition: all 0.4s ease-in;

        &:hover {
            text-shadow: 0px 0px 0px rgba(240,181,213,0.7),
                        0px 0px 0px rgba(198, 194, 216, 0.7);
            -webkit-text-stroke: 1px rgba(240,181,213,1);
        }
    }
}

.projects {
    margin: 0;
    padding: 0;
}

.project {
    height: 460px;
    position: relative;
    margin: 100px 0 120px;

    .project-pic,
    .device-pic,
    .dots-pic,
    .project-description-container {
        position: absolute;
    }
}

.horizontal-line {
    display: block;
    width: 475px;
    border-top: 1px solid #333;
    position: absolute;
    transition: all 0.3s;
}

.project-description-container {
    top: 220px;
    .project-links {
        width: 100%;
        a {
            color: grey;
            margin: 5px;
            margin-bottom: 15px;
            padding: 5px;
            @include fontSize(18);
            border: 2px solid grey;
            // transition: 0.2s ease-in;

            &:hover,
            &:focus {
                box-shadow: inset 12em 0 0 0 grey;
                background-color: grey;
                color: white;
            }
        }

    }
}

.project-desc {
    width: 400px;
}

.dots-pic {
    width: 44%;
}

.project-pic {
    width: 40.63%;
    border: 7px solid #fff;
}

.device-pic {
    width: 62.5%;

    .overlay {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.4);
        transition: 0.3s ease-in;

        a {
            color: white;
            margin: 10px;
            padding: 15px;
            @include fontSize(24);
            border: 2px solid white;
            // transition: 0.2s ease-in;

            &:hover,
            &:focus {
                box-shadow: inset 12em 0 0 0 white;
                color: #777;
            }
        }
    }
}

.project-pic-container {
    position: relative;
    width: 800px;

    &:hover {
        cursor: pointer;
    }

    &:hover .overlay{
        opacity: 1;
    }
}

.phrasebook {
    .project-pic-container{
        cursor: url("../../assets/phrasebook-cursor.png"), auto;
    }
    cursor: url("../../assets/phrasebook-cursor.png"), auto;
    margin-top: 50px;

    .dots-pic {
        top: -7px;
    }
    .device-pic {
        left: 40px;
        top: 60px;
    }
    .project-pic {
        cursor: url("../../assets/phrasebook-cursor.png"), auto;
        right: 38px;
        top: -45px;
    }
    .project-description-container {
        top: 220px;
        right: 0;

        .project-links {
            position: absolute;
            top: 35px;
            right: -70px;
        }

        .horizontal-line {
            right: 0;
        }

        &:hover {
            .project-name {
                background: #dac492;
                background: -webkit-linear-gradient(122deg,#dac492,#9fc6c7);
                background: -o-linear-gradient(122deg,#dac492 0,#9fc6c7 100%);
                background: linear-gradient(328deg,#dac492,#9fc6c7);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dac492",endColorstr="#9fc6c7",GradientType=1);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .project-name {
            text-align: right;
        }
        .project-desc {
            text-align: right;
        }
        h4 {
            text-align: right;
        }
    }
}

.juicy-jostle {
    cursor: url("../../assets/jj-cursor.png"), auto;
    margin-bottom: 180px;
    .project-pic-container {
        cursor: url("../../assets/jj-cursor.png"), auto;
        float: right;
    }

    .device-pic {
        right: -40px;
        top: -60px;
        width: 53.75%;
    }

    .project-pic {
        cursor: url("../../assets/jj-cursor.png"), auto;
        width: 37.5%;
        right: 180px;
        top: 240px;
    }

    .dots-pic {
        left: 140px;
    }

    .project-description-container {
        .project-links {
            position: absolute;
            top: 35px;
            left: 180px;
        }

        &:hover {
            .project-name {
                    background: #F8DA9F;
                    background: -webkit-linear-gradient(122deg,#F8DA9F,#F1BCA9);
                    background: -o-linear-gradient(122deg,#F8DA9F 0,#F1BCA9, 100%);
                    background: linear-gradient(328deg,#F8DA9F,#F1BCA9);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dac492",endColorstr="#9fc6c7",GradientType=1);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
            }
        }
    }
}

.beer-bible {
    cursor: url("../../assets/bb-cursor.png"), auto;
    margin-bottom: 150px;
    .project-pic-container {
        cursor: url("../../assets/bb-cursor.png"), auto;
    }
    .device-pic {
        width: 58.75%;
        left: -30px;
    }
    .project-pic {
        cursor: url("../../assets/bb-cursor.png"), auto;
        width: 43.75%x;
        left: 370px;
        top: -50px;
    }
    .dots-pic {
        top: 165px;
        left: 210px;
    }

    .project-description-container {
        top: 220px;
        right: 0;
        .project-links {
            position: absolute;
            top: 35px;
            left: 220px;
        }


        .horizontal-line {
            right: 0;
        }

        &:hover {
            .project-name {
                @include fontSize(26);
                color: scale-color(red, $lightness: 85%);
            }
        }
        .project-name {
            text-align: right;
        }
        .project-desc {
            text-align: right;
            float: right;
        }
        h4 {
            text-align: right;
        }
    }

}

.initidate {
    cursor: url("../../assets/id-cursor.png"), auto;
    margin-bottom: 180px;
    .project-pic-container {
        float: right;
        cursor: url("../../assets/id-cursor.png"), auto;
    }
    .device-pic {
        right: 40px;
        top: 130px;
        width: 62.5%;
    }

    .project-pic {
        cursor: url("../../assets/id-cursor.png"), auto;
        width: 31.25%;
        right: -20px;
        top: 0;
    }

    .dots-pic {
        left: 190px;
        top: -50px;
    }

    .project-description-container {

        .project-links {
            position: absolute;
            top: 35px;
            left: 130px;
        }

        &:hover {
            .project-name {
                background: #fcca25;
                background: -webkit-linear-gradient(122deg,#1D1E22,#fcca25);
                background: -o-linear-gradient(122deg,#1D1E22, 0,#fcca25 100%);
                background: linear-gradient(328deg,#1D1E22,#fcca25);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dac492",endColorstr="#9fc6c7",GradientType=1);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.sunshine {
    cursor: url("../../assets/ss-cursor.png"), auto;
    .project-pic-container {
        cursor: url("../../assets/ss-cursor.png"), auto;
    }
    .device-pic {
        left: -10px;
        top: 60px;
    }
    .project-pic {
        cursor: url("../../assets/ss-cursor.png"), auto;
        right: 38px;
        top: -30x;
    }

    .dots-pic {
        top: -60px;
        left: 125px;
    }
    .project-description-container {
        top: 220px;
        right: 0;

        .project-links {
            position: absolute;
            top: 35px;
            left: 100px;
        }


        .horizontal-line {
            right: 0;
        }

        &:hover {
            .project-name {
                color: #F1D54A;
                font-family: 'Playfair Display', serif;
                @include fontSize(28.3);
            }
        }
        .project-name {
            text-align: right;
        }
        .project-desc {
            text-align: right;
            float: right;
        }
        h4 {
            text-align: right;
        }
    }
}

@media (max-width: 1200px) {
    .horizontal-line {
        width: 410px;
    }

    .project-description-container {
        h4 {
            width: 400px;
        }
    }

    .beer-bible {
        .project-description-container {
            .project-links {
                left: 80px;
            }
        }
    }
}

@media (max-width: 1040px) {
    .horizontal-line {
        width: 330px;
    }

    .project-description-container {
        h4 {
            width: 280px;
        }

        .project-desc {
            width: 280px;
        }
    }

    .project-links {
        display: none;
    }


    .project-pic-container {
        .overlay{
            opacity: 1;
            background-color: transparent;
            a {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
    }


}

@media (max-width: 900px) {
    .horizontal-line {
        width: 200px;
    }

    .project-description-container {
        h4 {
            width: 240px;
        }
        .project-desc {
            width: 240px;
        }
    }

    .project-pic-container {
        width: 100%;
    }

    .phrasebook {
        .project-description-container {
            top: 180px;
        }
    }
    .juicy-jostle {
        .device-pic {
            right: -40px;
            top: -30px;
        }

        .project-pic {
            right: 120px;
            top: 200px;
        }

        .dots-pic {
            left: 140px;
            top: -20px;
        }

        .project-description-container {
            h4 {
                width: 230px;
            }
        }
    }

    .beer-bible {
        margin-bottom: 120px;

        .project-pic {
            left: 250px;
            top: -50px;
        }

        .dots-pic {
            top: 120px;
            left: 100px;
        }

        .project-description-container {
            top: 150px;
            right: 0;
        }

    }

    .initidate {
        margin-bottom: 120px;
        .project-pic-container {
            float: right;
        }
        .device-pic {
            right: 40px;
            top: 130px;
            width: 62.5%;
        }

        .project-pic {
            width: 31.25%;
            right: -20px;
            top: 35px;
        }

        .dots-pic {
            left: 200px;
            top: -10px;
        }

        .project-description-container {
            top: 160px;
        }
    }

    .sunshine {
        .project-description-container {
            top: 170px;
        }
    }
}

@media (max-width: 700px) {
    h2 {
        margin-bottom: 40px;
    }
    .project {
        margin: 50px 0 60px;
        height: 350px;
    }
    .project-pic {
        display: none;
    }
    .project-pic-container {
        width: 100%;
    }

    .project-description-container {
        h4 {
            width: 100%;
        }
        .project-desc {
            width: 100%;
        }
    }

    .phrasebook {
        .device-pic {
            left: 40px;
            top: 10px;
            width: 70%;
        }
        .project-description-container {
            top: 160px;
        }
    }

    .juicy-jostle {
        .dots-pic {
            left: 20px;
        }
        .project-description-container {
            top: 120px;
        }
        .device-pic {
            width: 70%;
        }
    }

    .beer-bible {
        .dots-pic {
            top: 50px;
            left: 180px;
        }

        .device-pic {
            width: 70%;
        }
        .project-description-container {
            top: 170px;
        }
    }

    .initidate {
        .device-pic {
            top: 30px;
            width: 70%;
        }
        .project-description-container {
            top: 150px;
        }

        .dots-pic {
            left: 0px;
        }
    }

    .sunshine {
        .dots-pic {
            top: 0;
        }
        .device-pic {
            top: 35px;
            width: 70%;
        }
        .project-description-container {
            top: 180px;
        }
    }
}

@media (max-width: 600px) {
    .portfolio {
        .section-title {
            color: white;
            text-shadow: -4px 4px 0px rgba(240,181,213,0.7),
                    -8px 8px 0px rgba(198, 194, 216, 0.7);
            -webkit-text-stroke: 1px rgba(240,181,213,1);

        }
    }
}

@media (max-width: 450px) {
    .project {
        margin: 50px 0 60px;
        height: 450px;
    }
    .phrasebook {
        .device-pic {
            width: 90%;
        }

        .dots-pic {
            width: 70%;
        }
    }

    .juicy-jostle {
        .dots-pic {
            left: 20px;
            width: 70%;
        }
        .project-description-container {
            top: 120px;
        }
        .device-pic {
            width: 90%;
        }
    }

    .beer-bible {
        .dots-pic {
            top: 20px;
            left: 100px;
            width: 70%;
        }

        .device-pic {
            width: 95%;
            top: -40px;
        }
        .project-description-container {
            top: 150px;
        }
    }

    .initidate {
        .device-pic {
            top: 30px;
            width: 90%;
        }
        .dots-pic {
            width: 70%;
            left: 70px;
        }

        .project-description-container {
            top: 150px;
        }
    }

    .sunshine {
        .dots-pic {
            top: -50px;
            width: 70%;
        }
        .device-pic {
            top: 10px;
            width: 90%;
        }
        .project-description-container {
            top: 160px;
        }
    }
}