
.skills-title {
    display: block;
    margin: 100px auto 20px;
    padding-top: 0;
    color: white;
    text-shadow: -6px 6px 0px rgba(198, 194, 216, 0.7),
                -12px 12px 0px rgba(152,205,223,0.7),;
    -webkit-text-stroke: 0.5px rgba(198, 194, 216,1);
    transition: all 0.4s ease-in;

    &:hover {
        text-shadow: 0px 0px 0px rgba(152,205,223,0.7),
                0px 0px 0px rgba(198, 194, 216, 0.7);
        -webkit-text-stroke: 1px rgba(198, 194, 216, 1);
    }
}
.skills {
    cursor: url("../../assets/shining.png"), auto;
    grid-area: skills;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    background: rgb(240,181,213);
    background: -moz-linear-gradient(328deg, #D8BCD6 0%, rgba(152,205,223,1) 100%);
    background: -webkit-linear-gradient(328deg, #D8BCD6 0%, rgba(152,205,223,1) 100%);
    background: linear-gradient(328deg, #D8BCD6 0%, rgba(152,205,223,1) 100%);

    .redux {
        width: 42px;
    }
}

.skills-list{
    width: 100%;
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 8% 0;

    span {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;

        &:hover {
            animation: pulse 1s infinite;
        }
        .firebase {
            width: 60px;
            height: 60px;
            margin-left: 10px;

        }
    }
}

.skill-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        font-size: 5.4rem;
        color: white;
    }
}

@media (max-width: 900px) {
    .skills-list {
        margin: 15% 10%;
    }
}

@media (max-width: 650px) {
    .skills-list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .skills-list li:last-child {
        display: none;
    }
    .skills-title {
        text-shadow: -4px 4px 0px rgba(198, 194, 216, 0.7),
                    -8px 8px 0px rgba(152,205,223,0.7);
        -webkit-text-stroke: 1px rgba(198, 194, 216,1);
    }
}

@media (max-width: 450px) {
    .skills-list {
        grid-template-columns: 1fr 1fr;
    }

    .skills-list li:last-child {
        display: flex;
    }

    .skills-list {
        grid-gap: 10px;
    }

    .skill-item {
        margin: 20px 0;
        span {
            font-size: 4.3rem;
        }
    }
}