.thank-you {
    position: relative;
    color: white;
    background: rgb(240,181,213);
    background: -moz-linear-gradient(328deg, rgba(247,128,194,1) 0%, rgba(152,205,223,1) 100%);
    background: -webkit-linear-gradient(328deg, rgba(240,181,213,1) 0%, rgba(152,205,223,1) 100%);
    background: linear-gradient(328deg, rgba(240,181,213,1) 0%, rgba(152,205,223,1) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
        margin: 0;
    }

    h1 {
        font-size: 6vw;
    }

    h5 {
        color: white;
        font-size: 3.5vw;
        margin-top: 10px;
    }

    .back-button {
        color: white;
        margin-top: 40px;
        border: 1px solid white;
        padding: 10px 20px;
        transition: 0.3s ease-in;

        &:hover {
            background-color: white;
            color: #333;
        }
    }
}